/* Reset css */
* {
  margin: 0;
  padding: 0; }

/*  header */
.header {
  background: rgba(0, 0, 0, 0.1); }
  .header .navbar div .navbar-brand img {
    padding: 13px;
    margin-left: 5px;
    width: 200px;
    height: 120px;
    border-radius: 30px; }

.navbar-nav .nav-item {
  font-family: 'Roboto Slab';
  font-weight: 700;
  font-size: 28px; }
  .navbar-nav .nav-item .nav-link {
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    padding: 10px; }
    .navbar-nav .nav-item .nav-link:hover {
      background-color: rgba(0, 0, 0, 0.3);
      transition: .4s; }

/* parrafo */
.parrafo {
  font-size: 45px;
  font-family: 'Roboto Slab';
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(174, 187, 221, 0.6);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  text-align: center; }

/* parrafo bienvenida */
.parrafoBienvenida {
  font-size: 50px;
  margin: 30px;
  font-family: 'Roboto Slab';
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 25px;
  background: linear-gradient(145deg, #e7eaf9, #c2c5d2);
  box-shadow: 24px 36px 40px #abadb8, -24px -36px 90px #ffffff; }

.carousel-inner img {
  width: 100%;
  height: 750px; }

/* catalogo productos */
.catalogoH3 {
  font-size: 50px;
  text-align: center;
  margin: 30px;
  font-family: 'Roboto Slab';
  font-weight: 700;
  border-radius: 25px;
  background: linear-gradient(145deg, #e7eaf9, #c2c5d2);
  box-shadow: 24px 36px 40px #abadb8, -24px -36px 90px #ffffff; }

.productos {
  color: black;
  font-family: 'Roboto Slab';
  font-weight: 700;
  font-size: 30px;
  display: flex;
  flex-flow: row wrap;
  row-gap: 20px;
  justify-content: space-evenly; }
  .productos .card {
    border: 1px solid black;
    text-align: center;
    background: rgba(255, 255, 255, 0.4);
    object-fit: cover;
    box-shadow: 1px 1px gray; }
    .productos .card img {
      height: 420px;
      width: 257px; }
      .productos .card img:hover {
        animation: pulse;
        animation-duration: 1s; }

/* galeria */
.galeriaH3 {
  font-size: 50px;
  text-align: center;
  margin: 30px;
  font-family: 'Roboto Slab';
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center; }

/* grid galeria */
.gallery-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 400px;
  padding: 25px;
  grid-gap: 15px; }
  .gallery-container .gallery__item:nth-child(1) {
    grid-row-start: span 2; }
  .gallery-container .gallery__item:nth-child(3) {
    grid-row-start: span 1; }
  .gallery-container .gallery__item:nth-child(4) {
    grid-row-start: span 2;
    grid-column-start: span 2; }
  .gallery-container .gallery__item:nth-child(5) {
    grid-row-start: span 3; }
  .gallery-container .gallery__item:nth-child(6) {
    grid-row-start: span 2; }
  .gallery-container .gallery__item:nth-child(7) {
    grid-row-start: span 2; }
  .gallery-container .gallery__item:nth-child(8) {
    grid-row-start: span 2; }
  .gallery-container .gallery__item:nth-child(9) {
    grid-row-start: span 2; }
  .gallery-container .gallery__item:nth-child(10) {
    grid-row-start: span 2; }
  .gallery-container .gallery__item:nth-child(11) {
    grid-column-start: span 2;
    grid-row-start: span 2; }
  .gallery-container .gallery__item:nth-child(12) {
    grid-row-start: span 2; }
  .gallery-container .gallery__item:nth-child(13) {
    grid-row-start: span 3;
    grid-column-start: span 3; }
  .gallery-container .gallery__item:nth-child(14) {
    grid-row-start: span 2;
    grid-column-start: span 3; }
  .gallery-container .gallery__item:nth-child(15) {
    grid-row-start: span 2;
    grid-column-start: span 2; }
  .gallery-container .gallery__item:nth-child(16) {
    grid-row-start: span 2; }
  .gallery-container .gallery__item:nth-child(17) {
    grid-row-start: span 2;
    grid-column-start: span 2; }
  .gallery-container .gallery__item:nth-child(18) {
    grid-row-start: span 2; }
  .gallery-container .gallery__item:nth-child(19) {
    grid-row-start: span 3;
    grid-column-start: span 2; }
  .gallery-container .gallery__item:nth-child(20) {
    grid-row-start: span 3; }
  .gallery-container .gallery__item:nth-child(21) {
    grid-row-start: span 2; }
  .gallery-container .gallery__item:nth-child(22) {
    grid-row-start: span 2; }
  .gallery-container .gallery__item:nth-child(24) {
    grid-row-start: span 2;
    grid-column-start: span 2; }
  .gallery-container .gallery__item:nth-child(25) {
    grid-row-start: span 2; }
  .gallery-container .gallery__item:nth-child(26) {
    grid-row-start: span 2; }
  .gallery-container .gallery__item:nth-child(27) {
    grid-row-start: span 2; }
  .gallery-container .gallery__item:nth-child(29) {
    grid-row-start: span 2; }
  .gallery-container .gallery__item:nth-child(30) {
    grid-row-start: span 2; }
  .gallery-container .gallery__item:nth-child(33) {
    grid-row-start: span 2;
    grid-column-start: span 2; }
  .gallery-container .gallery__item:nth-child(34) {
    grid-row-start: span 2; }
  .gallery-container .gallery__item:nth-child(38) {
    grid-row-start: span 2; }
  .gallery-container .gallery__item:nth-child(40) {
    grid-row-start: span 2; }
  .gallery-container .gallery__item:nth-child(41) {
    grid-row-start: span 2; }
  .gallery-container .gallery__item:nth-child(42) {
    grid-row-start: span 2; }
  .gallery-container .gallery__item:nth-child(43) {
    grid-row-start: span 2; }
  .gallery-container .gallery__item:nth-child(44) {
    grid-row-start: span 2; }
  .gallery-container .gallery__item:nth-child(45) {
    grid-row-start: span 2; }
  .gallery-container .gallery__item:nth-child(46) {
    grid-row-start: span 3;
    grid-column-start: span 2; }
  .gallery-container .gallery__item:nth-child(47) {
    grid-row-start: span 3;
    grid-column-start: span 2; }
  .gallery-container .gallery__item:nth-child(48) {
    grid-row-start: span 3; }
  .gallery-container .gallery__item:nth-child(49) {
    grid-row-start: span 3;
    grid-column-start: span 2; }
  .gallery-container .gallery__item:nth-child(50) {
    grid-row-start: span 2;
    grid-column-start: span 2; }
  .gallery-container .gallery__item:nth-child(51) {
    grid-row-start: span 2; }
  .gallery-container .gallery__item:nth-child(52) {
    grid-row-start: span 2; }
  .gallery-container .gallery__item:nth-child(53) {
    grid-row-start: span 2;
    grid-column-start: span 2; }
  .gallery-container .gallery__item:nth-child(54) {
    grid-row-start: span 2;
    grid-column-start: span 2; }
  .gallery-container img {
    width: 100%;
    height: 100%;
    object-fit: cover; }
    .gallery-container img:hover {
      border: 5px solid #0ed8df; }

/* sobre mi */
.nosotros {
  color: #45648c;
  font-family: 'Open Sans';
  font-weight: 600; }
  .nosotros h3 {
    font-size: 50px;
    text-align: center;
    margin: 30px;
    font-family: 'Roboto Slab';
    font-weight: 700;
    color: black;
    grid-area: titulo2;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    background: linear-gradient(145deg, #e7eaf9, #c2c5d2);
    box-shadow: 24px 36px 40px #abadb8, -24px -36px 90px #ffffff; }
  .nosotros img {
    display: block;
    margin: auto;
    width: 80%;
    grid-area: imagen2; }
  .nosotros p {
    text-align: justify;
    margin-left: 20px;
    margin-right: 20px;
    padding: 20px;
    background: rgba(174, 187, 221, 0.6);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18); }
    .nosotros p strong {
      color: #000;
      font-weight: 700; }

/* grid nosotros */
.nosotros {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 0.3fr 1.5fr 0.4fr 0.3fr 0.3fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas: "titulo2 titulo2" "imagen2 imagen2" "parrafo3 parrafo3" "parrafo4 parrafo4" "parrafo5 parrafo5"; }
  .nosotros .p1 {
    grid-area: parrafo3; }
  .nosotros .p2 {
    grid-area: parrafo4; }
  .nosotros .p3 {
    grid-area: parrafo5; }

/* contacto */
.contacto {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
  font-size: 50px;
  text-align: start; }

.contacto-contenedor {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 2fr 2fr;
  grid-template-areas: "titulo5 titulo5" "contacto contacto"; }
  .contacto-contenedor .contactoH3 {
    font-size: 50px;
    text-align: center;
    margin: 30px;
    font-family: 'Roboto Slab';
    font-weight: 700;
    grid-area: titulo5;
    border-radius: 25px;
    background: linear-gradient(145deg, #e7eaf9, #c2c5d2);
    box-shadow: 24px 36px 40px #abadb8, -24px -36px 90px #ffffff; }
  .contacto-contenedor .parrafoProductos {
    grid-area: contacto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px;
    font-family: 'Roboto Slab';
    font-weight: 500;
    font-size: 45px; }

/* footer */
.footer {
  background: rgba(0, 0, 0, 0.25); }
  .footer .grupofooter2 {
    background: rgba(0, 0, 0, 0.11);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 10px; }
    .footer .grupofooter2 .footerTexto {
      font-size: 25px;
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
      text-align: left; }
  .footer .grupofooter1 {
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center; }
    .footer .grupofooter1 .box figure a .logofooter {
      width: 250px;
      height: 150px;
      padding: 10px;
      border-radius: 30px; }
    .footer .grupofooter1 .box .rss img {
      width: 100px;
      height: 100px;
      padding: 10px; }

/* media queries */
/* vista 1054 */
@media screen and (max-width: 1054px) {
  .contacto-contenedor {
    grid-template-rows: 1.5fr 2fr; } }

/* vista max 1024  */
@media screen and (max-width: 1024px) {
  .gallery-container {
    display: flex;
    flex-flow: column wrap;
    width: 100%;
    margin: auto; } }

/* vista 991 */
@media screen and (max-width: 991px) {
  .navbar-nav {
    flex-direction: column; }
    .navbar-nav .nav-item {
      flex-direction: column;
      border-top: 1px solid black;
      border-bottom: 1px solid black;
      text-align: center; }
  .nosotros {
    display: flex;
    flex-direction: column; }
    .nosotros p {
      text-align: center; }
    .nosotros img {
      width: 90%;
      height: 100%; } }

/* vista tablet */
@media screen and (max-width: 768px) {
  .parrafo {
    font-size: 40px; }
  .carousel-inner img {
    width: 100%;
    height: 500px; }
  .footer .grupofooter2 .footerTexto {
    text-align: center; }
  .gallery-container img {
    border: 5px solid #0ed8df; } }

/* vista 616 */
@media screen and (max-width: 616px) {
  .contacto-contenedor {
    grid-template-rows: 1fr 2fr; } }

/* vista mobile */
@media screen and (max-width: 480px) {
  .header {
    display: flex;
    flex-flow: column nowrap; }
    .header .menu {
      display: flex;
      flex-flow: column nowrap; }
  .grupofooter1 {
    display: flex;
    flex-flow: column wrap; }
  .gallery-container {
    display: flex;
    flex-flow: column wrap;
    width: 90%;
    margin: auto; }
  .productos {
    display: flex;
    flex-direction: row; }
  .catalogoH3 {
    text-align: center; }
  .nosotros img {
    width: 95%; }
  .carousel-inner img {
    width: 100%;
    height: 400px; } }

/* vista 447 */
@media screen and (max-width: 447px) {
  .contacto-contenedor {
    grid-template-rows: 0.9fr 2fr; } }

body {
  background: url(../multimedia/fondopagina.jpg);
  background-attachment: fixed;
  background-size: cover; }
