/*  header */

.header {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    background-color: #97d0f0;

    .logoPagina {
        img {
            padding: 13px;
            width: 280px;
            height: 120px;
        }
    }
}

.menu {
    display: flex;
    flex-wrap: wrap;
    column-gap: 15px;
    list-style: none;

    li {
        font-family: 'Roboto Slab';
        font-weight: 700;
        font-size: 30px;
        padding: 15px;
        margin: 5px;

        a {
            text-decoration: none;
            color: black;
            text-transform: uppercase;
            padding: 20px;
            &:hover{
                background-color: rgba(0, 0, 0, .3);
                transition: .4s;
            }
        }
    }
}