/* nosotros */

body {
    background-color: #d1eaf9;
}

.nosotros {
    color: sienna;
    font-family: 'Roboto Slab';
    font-weight: 700;

    h3 {
        font-size: 50px;
        text-align: center;
        margin: 30px;
        font-family: 'Roboto Slab';
        font-weight: 700;
        color: black;
        grid-area: titulo2;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    img {
        display: block;
        margin: auto;
        width: 80%;
        grid-area: imagen2
    }

    p {
        text-align: center;
        padding: 20px;

        &:hover {
            color: black;
            text-align: justify;
        }
    }
}

/* grid nosotros */

.nosotros {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.5fr 1.5fr 0.6fr 0.4fr 0.4fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "titulo2 titulo2"
        "imagen2 imagen2"
        "parrafo3 parrafo3"
        "parrafo4 parrafo4"
        "parrafo5 parrafo5";

    .p1 {
        grid-area: parrafo3;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .p2 {
        grid-area: parrafo4;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .p3 {
        grid-area: parrafo5;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

