/* media queries */

/* vista max 1024  */

@media screen and (max-width: 1024px) {
    .gallery-container {
        grid-template-columns: repeat(2, 1fr);
        width: 100%;
        margin: auto;

        .gallery__item:nth-child(1) {
            grid-row-start: span 2;
            grid-column-start: span 2;
        }

        .gallery__item:nth-child(2) {
            grid-column-start: span 2;
        }

        .gallery__item:nth-child(3) {
            grid-column-start: span 2;
        }

        .gallery__item:nth-child(4) {
            grid-column-start: span 2;
        }

        .gallery__item:nth-child(5) {
            grid-column-start: span 2;
        }

        .gallery__item:nth-child(6) {
            grid-column-start: span 2;
        }

        .gallery__item:nth-child(9) {
            grid-column-start: span 2;
        }

        .gallery__item:nth-child(10) {
            grid-column-start: span 2;
        }

        .gallery__item:nth-child(12) {
            grid-column-start: span 2;
        }

        .gallery__item:nth-child(13) {
            grid-column-start: span 2;
        }

        .gallery__item:nth-child(16) {
            grid-column-start: span 2;
        }

        .gallery__item:nth-child(17) {
            grid-column-start: span 2;
        }

        .gallery__item:nth-child(18) {
            grid-column-start: span 2;
            grid-row-start: span 3;
        }

        .gallery__item:nth-child(20) {
            grid-column-start: span 2;
        }
    }
}


/* vista mobile */

@media screen and (max-width: 480px) {
    .header {
        display: flex;
        flex-flow: column wrap;

        .menu {
            display: flex;
            flex-flow: column wrap;
        }
    }

    .grupofooter1 {
        display: flex;
        flex-flow: column wrap;
    }

    .gallery-container {
        display: flex;
        flex-flow: column wrap;
        width: 100%;
        margin: auto;
    }

    .productos {
        display: flex;
        flex-flow: column wrap;
    }
}