/* Reset css */
* {
    margin: 0;
    padding: 0;
}

@import "header";
@import "index";
@import "catalogo";
@import "galeria";
@import "nosotros";
@import "contacto";
@import "footer";
@import "queries";

body {
    background-color: #ffffff;
    background-image: url(/pages/multimedia/fondopagina.jpg);
    background-attachment: fixed;
    background-size: cover;
}

